.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-grid .pokemon-card {
    margin: 10px;
}

.load-more-btn {
    background-color: #4da42b;
    color: white;
    width: 150px;
    height: 50px;
    margin-left: 700px;
}

.h1 {
    text-align: center;
}


